flask==3.0.0
requests==2.31.0

# التعامل مع الصور (لقطات الشاشة)
Pillow==10.1.0

# مكتبات أندرويد (مطلوبة لـ Buildozer)
kivy==2.2.1
plyer==2.1.0
pyjnius==1.6.0

# أدوات البناء
Cython==0.29.33
buildozer==1.5.0
